/*Vodka.css version 0.3.2*/

:root{
    --top-color:#f1c40f;
    --bottom-color:#e67e22;
    --strong-color:white;
    --main-color: var(--strong-color);
    --secondary-color : var(--top-color);
}
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: linear-gradient(#ffcc00 0%, #ff7700 100%);
    color:white;
    font-size: 20px;
}

#dy-content {
    width: 90%;
    margin:auto;
}

@media screen and (min-width: 640px) {
    #dy-content {
        width: 50%;
    }
}

#dy-content * {
    font-size: 1rem;
    margin-top: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Buttons*/
button{
    width: 100%;
}
.dy-button-normal, .dy-button-strong{
    border: solid .2rem white;
    border-radius: .7rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
}

.dy-button-strong{
    background-color: white;
    color: orange;
}

button:hover, .dy-button-normal:hover, .dy-button-strong:hover{
    cursor: pointer;
}

/*Inputs*/

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="date"], select{
    display: block;
    border: solid .2rem white;
    padding-left: .5rem;
    border-radius: .7rem;
    line-height: 2rem;
    height: 2.4rem;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0)
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder{
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}

label{
    display: inline-block;
}

select > option{
    color: black;
}

.dy-input-select {
    border: solid white .2em;
    border-radius: .7em;
}

.dy-input-select > *{
    margin:0 !important;
    border:none !important;
    display: inline-block !important;
}

.dy-input-select > input{
    width:calc(75% - .5rem);
}

.dy-input-select > select {
    width:calc(25% + .14rem);
    border-radius: 0;
    background-color: white;
    color:orange;
}

.dy-radio-group input[type="radio"]{
    display: none;
}

.dy-radio-group label{
    margin:0;
    border: solid white .2rem;
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
    vertical-align: middle;
    text-align: center;
    width:calc(50% - .4rem);
}

.dy-radio-group label:first-of-type{
    border-radius: .7rem 0 0 .7rem;
}

.dy-radio-group label:last-of-type{
    border-radius: 0 .7rem .7rem 0;
    margin-left: -.4rem;
}

.dy-radio-group input[type="radio"]:checked + label{
    background-color: white;
    color:orange;
}

/*Headings*/

#dy-content h1{
    font-size: 1.3rem;
    font-weight: normal;
    text-align: center;
}

#dy-content h2{
    font-size: 1.2rem;
    font-weight: normal;
}
#dy-content h3{
    font-size: 1.1rem;
    font-weight: normal;
}
#dy-content h4{
    font-size: 1rem;
    font-weight: normal;
}

@media screen and (min-width: 640px) {
    #dy-content h1{
        font-size: 2rem;
    }

    #dy-content h2{
        font-size: 1.8rem;
    }
    #dy-content h3{
        font-size: 1.6rem;
    }
    #dy-content h4{
        font-size: 1.4rem;
    }
}

/*Images*/
img{
    width:100%;
}

/*Positionnig*/

.dy-space-1{
    height: 1rem;
}

/*Lists*/

.dy-list-element{
    border-bottom: solid .1em white;
    line-height: 2rem;
    vertical-align: middle;
    margin:0 !important;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.dy-list-element > *{
    margin: 0;
    display: inline-block;
    line-height: 2rem;
    vertical-align: middle;
}

.dy-element-right{
    margin: 0;
    float: right;
}

.dy-element-right > *{
    margin: 0;
}

.dy-element-second{
    font-size: .7rem;
    font-style: italic;
}

.dy-element-action{
    display: inline-block;
    border: none;
    vertical-align: middle;
    margin-bottom: .25rem;
    line-height: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}

/*Notify*/

#dy-notify {
    position: fixed;
    visibility: hidden;
    display: none;
    left:15%;
    top:30%;
    width: 70%;
    margin:auto;
    background-color: white;
    padding: .5em;
    text-align: center;
    border-radius: 1em;
    color:orange;
}

@media screen and (min-width: 640px) {
    #dy-notify {
        left: 30%;
        width: 40%;
    }
}

/*Errors*/
#errors{
    padding:1em;
    background-color:#e74c3c;
    border-radius: 1em;
    list-style-type:none;
}

#errors li:first-of-type{
    margin-top:0px !important;
}

/*Special*/

/*Alcohol Level*/

#AlcoholLevel{
    text-align: center;
}

#AlcoholLevel > span {
    font-size: 4rem;
}
