/*Vodka.css version 0.2*/

:root{
    --top-color:#f1c40f;
    --bottom-color:#e67e22;
    --strong-color:white;
    --main-color: var(--strong-color);
    --secondary-color : var(--top-color);
}
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: linear-gradient(#ffcc00 0%, #ff7700 100%);
    color:white;
    font-size: 20px;
}

.dy-content {
    width: 90%;
    margin:auto;
}

@media screen and (min-width: 640px) {
    .dy-content {
        width: 50%;
    }
}

.dy-content * {
    font-size: 1rem;
    margin-top: .5rem;
}

a {
    text-decoration: none;
}

/*Buttons*/
.dy-button-normal, .dy-button-strong{
    border: solid .2rem white;
    border-radius: .7rem;
    line-height: 2rem;
    vertical-align: middle;
    text-align: center;
}

.dy-button-strong{
    background-color: white;
    color: orange;
}

/*Inputs*/

input[type="text"], input[type="number"], input[type="password"], input[type="email"], select{
    display: block;
    border: solid .2rem white;
    padding-left: .5rem;
    border-radius: .7rem;
    line-height: 2rem;
    height: 2.4rem;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0)
}

input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: rgba(255, 255, 255, .5);
    font-style: italic;
}

select > option{
    color: black;
}

.dy-input-select {
    border: solid white .2em;
    border-radius: .7em;
}

.dy-input-select > *{
    margin:0;
    border:none !important;
    display: inline-block !important;
}

.dy-input-select > input{
    width:calc(75% - .5rem);
}

.dy-input-select > select {
    width:calc(25% + .14rem);
    border-radius: 0;
    background-color: white;
    color:orange;
}

.dy-radio-group input[type="radio"]{
    display: none;
}

.dy-radio-group label{
    margin:0;
    border: solid white .2rem;
    display: inline-block;
    line-height: 2rem;
    height: 2rem;
    vertical-align: middle;
    text-align: center;
    width:calc(50% - .4rem);
}

.dy-radio-group label:first-of-type{
    border-radius: .7rem 0 0 .7rem;
}

.dy-radio-group label:last-of-type{
    border-radius: 0 .7rem .7rem 0;
    margin-left: -.4rem;
}

.dy-radio-group input[type="radio"]:checked + label{
    background-color: white;
    color:orange;
}

/*Headings*/
.dy-content h1{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.dy-content h2{
    font-size: 1.8rem;
    font-weight: normal;
}
.dy-content h3{
    font-size: 1.6rem;
    font-weight: normal;
}
.dy-content h4{
    font-size: 1.4rem;
    font-weight: normal;
}

/*Images*/
img{
    width:100%;
}
